/* /Shared/Components/FileSystem/FileSystem.razor.rz.scp.css */
.file-system[b-31bq252bda] {
    grid-area: filesystem;
}
/* /Shared/Components/FileSystem/FileTable.razor.rz.scp.css */
.file-table-list[b-wbc1o7c8uu] {
    list-style-type: none;
}

ul.file-table-list li[b-wbc1o7c8uu] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* /Shared/Components/LoadingScreen.razor.rz.scp.css */
@keyframes spin-b-dfo5wz5qmm {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.logo[b-dfo5wz5qmm] {
    width: 25vw;
    height: 25vh;
}

.spinning-logo[b-dfo5wz5qmm] {
    animation: spin-b-dfo5wz5qmm 4s linear infinite;
}

.loading-container[b-dfo5wz5qmm] {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mud-palette-background);
}
