@inject ILanguageContainerService I18n
@inject IMappingToolsSettingsService mtSettings

@using MappingToolsWeb.Shared.Classes.Settings.Api
@using Mapping_Tools_Core.BeatmapHelper.BeatDivisors

<div>
    <div class="d-flex justify-flex-end">
        <MudButton Color="Color.Primary" Class="ml-auto" OnClick="WriteSettings">Save settings</MudButton>
    </div>
</div>

@code {
    public const string STORAGE_KEY = "settings.map_cleaner";
    MapCleanerSettingsModel settings = new MapCleanerSettingsModel();

    protected override async void OnInitialized() {
        I18n.InitLocalizedComponent(this);
        
        settings = await mtSettings.GetSettingsAsync<MapCleanerSettingsModel>(STORAGE_KEY);
    }

    async Task WriteSettings() {
        await mtSettings.WriteToLocalStorageAsync<MapCleanerSettingsModel>(STORAGE_KEY);
    }
}
