<style>
  
</style>

<nav class="@CssClass nav-menu" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="icons/mt_logo.svg">
    </a>
  </div>
  <a class="navbar-item" href="test">Test</a>
</nav>

@code {
    [Parameter]
    public string CssClass { get; set; }
}