@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.logo {
    width: 25vw;
    height: 25vh;
}

.spinning-logo {
    animation: spin 4s linear infinite;
}

.loading-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mud-palette-background);
}