@inherits LayoutComponentBase

@using MappingToolsWeb.Shared.Components
@using MappingToolsWeb.Shared.Components.FileSystem

<style>
    
</style>

<div class="grid-container main-container">
    <NavMenu Class="nav-menu" />
    <FileSystem Class="file-system" />
    <div class="body-content">@Body</div>
</div>

@code {
    public string MainColor { get; } = "rgba(18, 18, 18, 1)";
    public string TextColor { get; } = "rgba(246, 247, 235, 1)";
}