.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 400px;
    grid-template-rows: 80px auto;
    grid-template-areas: "navmenu navmenu" "bodycontent filesystem"
}

.body-content {
    grid-area: bodycontent;
}