@inject ILanguageContainerService I18n
@inject IMappingToolsSettingsService mtSettings

@using MappingToolsWeb.Shared.Classes.Settings.Api
@using Mapping_Tools_Core.BeatmapHelper.BeatDivisors

<div>
    <div class="d-flex justify-flex-end">
        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" Class="ml-auto" Variant="Variant.Filled"  OnClick="WriteSettings">@I18n["saveSettings"]</MudButton>
    </div>
</div>

@code {
    public const string STORAGE_KEY = "settings.combo_colour_studio";
    ComboColourStudioSettingsModel settings = new ComboColourStudioSettingsModel();

    protected override async void OnInitialized() {
        I18n.InitLocalizedComponent(this);
        
        settings = await mtSettings.GetSettingsAsync<ComboColourStudioSettingsModel>(STORAGE_KEY);
    }

    async Task WriteSettings() {
        await mtSettings.WriteToLocalStorageAsync<ComboColourStudioSettingsModel>(STORAGE_KEY);
    }
}
